*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Architects Daughter', cursive;
    
   
}
.fondo{
    background-image: url("img/playa.jpg");
}
.fondo2{
    background-image: url("img/playa.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    

}
header{
    display: flex ;
    
    width:90%;
    margin:auto;
    align-items: center;
   
}
button{
    font-family: 'Architects Daughter', cursive;
}
.logo-container,.nav-links{
    display:flex;
}
.logo-container{
    
    flex: 1;
}
.logo{
    color:white;
}
nav{
    
    flex: 1;
}  
.nav-links{
    justify-content: space-around;
    list-style: none;
    
}
.nav-link{
   text-decoration: none;
   color:white;
    
}
.active{
    color:yellow;
}
.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.introduction{
   
    flex: 1;
}
.intro-text h1{
    font-size: 44px;
    font-weight: 500  ;
    color:white;
}
.intro-text h1 span{
    font-size: 70px;
    font-weight: 500  ;
    color:yellow;
}

.cta{
    padding: 50px 0px 0px 0px;
}
.cta-select{
  
    border:none;
    background:rgb(219, 243, 8);
    color:white;
    width:150px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    margin:30px 0px 0px 30px;
}
.cta-add{
    border:none;
    background:rgb(219, 243, 8);;
    color:white;
    width:150px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    margin:30px 0px 0px 30px;

}
.cover{
    flex:1;
}
.cover img {
    height: 300px;
}
article{
    text-align: center;
}
#objetivos{
    text-align: center;
    width:50%;
    margin: auto;
    font-size: 2em;
    
}
.titulo{
    text-align: center;
    width:50%;
    margin: 0 auto;
}
.about, .articulos{
    background-color: rgba(250,250,250, 0.6);
    font-size: 1.3em;
}
.articulos{
    text-align: center;
    width:50%;
    margin: 0 auto;
}
.registro {
    width: 30%;
   
    margin: 0 auto;
    background-color: rgba(250,250,250, 0.6);;
}
.log{
    text-align: center;
}


footer{ 
    background-color: black;
    min-height: 12vh;
    text-align: center;
    align-items: center;
}

footer h3{
    color: white;
}








@media screen and (max-width:900px){

    .articulos{
        width: 90%;
    }
    .nav-links{
        display:none;
    
    }
    /* Hamburguesa */
    #menuToggle
    {
      display: block;
      position: relative;
      top: 50px;
      left: 50px;
      
      z-index: 1;
      
      -webkit-user-select: none;
      user-select: none;
    }
    
    #menuToggle a
    {
      text-decoration: none;
      color: #232323;
      
      transition: color 0.3s ease;
    }
    
    #menuToggle a:hover
    {
      color: tomato;
    }
    
    
    #menuToggle input
    {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      
      cursor: pointer;
      
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      
      -webkit-touch-callout: none;
    }
    
    /*
     * Just a quick hamburger
     */
    #menuToggle span
    {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      
      background: #cdcdcd;
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    
    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323;
    }
    
    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }
    
    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #menu
    {
      position: absolute;
      width: 300px;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      
      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    #menu li
    {
      padding: 10px 0;
      font-size: 22px;
    }
    
    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked ~ ul
    {
      transform: none;
    }

    #tabs{
        
        width:70%;
    }
    table {
        display: block;
        overflow-x: auto;
      }
    
}

@media screen and (min-width:900px){
    .hamburguesa{
        display:none;
    }
    #tabs{
        
        width:80%;
    }
    table {
        display: block;
        overflow-x: auto;
      }
}